.tab{
    border: 2px solid black;
    height: 200px;
    width: auto;
}
.main{
    display: inline-block;
}

.one{
    border: 2px solid black;
}

.hidden{
    display: none;
    
}

.five{
    background-color:aqua;
    width: 150px;
    text-align: center;
}

.form{
    border:1px solid #ccc;
 width: 200px;
 height: 500px;
 padding: 20px;
 margin: 15px;

 
}

.space{
    padding: 20px;
    margin-top: 15px;
    white-space: pre;
}
.term{
    color:dodgerblue;
    text-decoration: none;
    
}
.form{
    border: 2px solid black;
    background-color: aqua;
    width: 200px;
   }

.form49{
    border: 2px solid black;
    background-color: aqua;
    width: 280px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;

}
.imgmob{
   border: 2px solid black;
   width: 200px;
   }
.mob{
width: 100%;
   } 

.info{
     padding: 10px;
    margin: 10px;
    color: blue;
    width: 450px;
    text-align: center;
}

.table{
    border: 1px solid black;
    width: 350px;
    height: auto;
}

.larg{
width: 100%;
padding: 10px;
}

.imgs{
    display: inline-flex;
    width: 250px;
    padding: 10px;
    margin: 10px;
   
}

.para{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border: 2px solid red;
    color: cadetblue;
}
.zoom{
    font-size: 50px;
}
.zoomout{
    font-size: 20px;
}

.content{
    border: 1px solid;
    width: 220px;
    padding: 5px;
    margin: 10px;
    margin-left: 25px;
}

